<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>
    <div class="main-content">
         {{>header}}
        <p>Use this site for weather data</p>
        <form>
            <input placeholder="Location">
            <button>Get weather</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
   
    <script src="/js/sample.js"></script>
</body>

<footer>
    {{>footer}}
</footer>

</html>